vendor
node_modules

images/*
!images/README.md

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.phpunit.result.cache
coverage-report
